<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Consulta Produtos'">

        <div class="card-block table-border-style" *ngIf="temProdutos">
          <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="table-responsive">
              <table class="table table-striped table-bordered full-data-table">
                <thead>
                  <tr>
                    <td *ngFor="let cabecalho of cabecalhos"> {{cabecalho.label}} </td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let produto of produtos; let i = index ;">
                    <td> {{i}} - {{ produto.nome }} </td>
                    <td> {{ produto.unidadeMedida }} </td>
                    <td> {{ produto.preco }} </td>
                    <td> {{ produto.dataValidade }} </td>
                    <td>
                      <button class="btn btn-info btn-mini waves-effect waves-light" placement="left" ngbTooltip="Editar Produto"
                        [routerLink]="['/produtos/cadastro/' , i ]">
                        Editar
                      </button>
                      <button class="btn btn-danger btn-mini waves-effect waves-light" placement="left" ngbTooltip="Excluir Produto"
                        (click)="excluirProduto(i)">
                        Excluir
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div *ngIf="!temProdutos"> Você ainda não tem produtos cadastrados</div>
      </app-card>
    </div>
  </div>
</div>